[Desktop Entry]
Name=baConvert
Comment=Simple conversion helper
Exec=bac
Icon=baConvert
Type=Application
Terminal=false
Categories=Utility;GTK;
StartupWMClass=baConvert
X-GNOME-UsesNotifications=true

